body{
  font-size:6rem;
}
button{
  font-size:6rem;
}
#distractors > div > img{
  border: solid gray 3px;
  margin: 3px;
  width:30vw;
}
#distractors > div {
  display: inline-block;
  margin: 4px;
}
