body{
	font-family: arial;
}
.line div{
	display:inline-block;
	width:15ex;
}
.line div.num{
	text-align:right;
}
.flag{
	position:absolute;
	top:20px;
	right:20px;
	width:200px;
	border:solid thin gray;
}