<!doctype html>
<html>
<head>
  <title>World Factbook</title>
  <link rel='stylesheet' href='/static/world.css'>
</head>
<body>
  <h1>World Factbook</h1>
  <ul>
   {% for c in l %}
   <li><a href='/country/{{c.name}}'>{{c.name}}</a></li>
   {% endfor%}
  </ul>
</html>
