<!doctype html>
<html>
<head>
  <title>{{c['name']}}</title>
  <link rel='stylesheet' href='/static/world.css'>
</head>
<body>
  <h1>{{c['name']}}</h1>
   <div class=line>
     <div>Capital:</div>
     <div>{{c['capital']}}</div>
   </div>
   <div class=line>
     <div>Continent:</div>
     <div>{{c['continent']}}</div>
   </div>
   <div class=line>
     <div>Area (km<sup>2</sup>):</div>
     <div class='num'>{{"{:,d}".format(c['area'])}}</div>
   </div>
   <div class=line>
     <div>Population:</div>
     <div class='num'>{{"{:,d}".format(c['population'])}}</div>
   </div>
   <div class=line>
     <div>GDP ($ million):</div>
     <div class='num'>{{"${:,.0f}".format(c['gdp']/1000000)}}</div>
   </div>
   <div class=line>
     <div>TLD:</div>
     <div>{{c['tld']}}</div>
   </div>
   <img src="/static/imgs/{{c['flag']}}" class='flag'>
  </body>
</html>
