<!doctype html>
<html>
  <head>
    <style>
     <link rel=stylesheet href=static/world.css>
    </style>
  </head>
  <body>
   <h1>World factbook</h1>
     <ul>
       {% for c in continentList %}
       <li><a href='/continent/{{c}}'>{{c}}</a></li>
       {% endfor %}
     </ul>
   <p><a href='/static/quiz.html'>Quiz</a></p>
  </body>
</html>
