<!doctype html>
<html>
<head>
  <title>World Factbook Quiz, Pick the right flag</title>
  <link rel='stylesheet' href='/static/world.css'>
</head>
<body>
  <h1>World Factbook Quiz, Pick the right flag</h1>
  <p>Your score is {{score}}</p>
  <h2>Select the flag for {{ distractors[correct].name }}</h2>
  {% for c in distractors %}
  <a href='/grade_quiz/{{distractors[correct].name}}/{{c.name}}'><img src='{{ c.flag }}' style='width:200px'/></a>
  {% endfor %}
</html>
